{# app/Resources/views/blog/index.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
  <h1>{{title}}</h1>
  <p>{{explanation}}</p>
  <img src="{{image}}">
{% endblock %}
